<form class="{{cssClass}} flexcol" autocomplete="off">

    {{#unless hasClasses}}<span class="warning">Your character is missing a class. Some attributes require a class to function.</span>{{/unless}} {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <!--  <a class="item" data-tab="sheet">Sheet</a>-->
        <a class="item active" data-tab="rolls">Rolls</a>
        <a class="item" data-tab="options">Options</a>
        <a class="item" data-tab="biography">{{ localize "PF1.Biography" }}</a>
        <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="primary-body">
        <!--
        {{!-- Sheet Tab --}}
        <div class="tab sheet flexcol" data-group="primary" data-tab="sheet">
            {{> "modules/inlinewebviewer/templates/inlineViewer.html"}} 
        </div>
        -->
        {{!-- Rolls Tab --}}
        <div class="tab rolls flexcol" data-group="primary" data-tab="rolls">
            <div class="flexrow">
                <div>
                    <input type="button" class="refresh" value="update">
                </div>
                <div>
                    <p id="pulled-data-info"></p>
                </div>
            </div>
            <br>
            <div class="flexrow">
                <div data-group="primary">
                    <h3 style="text-align: center;">Skills</h3>
                    <div class="tab flexcol" data-group="skillset">
                        {{> "modules/fvtt-pf1-tools/templates/actors/parts/actor-skills.hbs" skillset=skillsets.all.skills isBackgroundSkills="false"}}
                    </div>
                </div>
                <div>
                    <h3 style="text-align: center;">Scores</h3>
                    <div class="flexcol" style="height: 185px">
                        {{> "modules/fvtt-pf1-tools/templates/actors/parts/actor-scores.hbs" }}
                    </div>
                    <br>
                    <h3 style="text-align: center;">Saving Throws</h3>
                    <div class="flexcol" style="height: 100px">
                        {{> "modules/fvtt-pf1-tools/templates/actors/parts/actor-savingthrows.hbs"}}
                    </div>
                    <br>
                    <h3 style="text-align: center;">Attacks</h3>
                    <div class="flexcol" style="height: 100px">
                        {{> "modules/fvtt-pf1-tools/templates/actors/parts/actor-attacks.hbs" sections=attacks }}
                    </div>

                </div>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{roll-editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>

        {{!-- Notes Tab --}}
        <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
            {{roll-editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner editable=editable}}
        </div>

        {{!-- Options Tab --}}
        <div class="tab options flexcol" data-group="primary" data-tab="options">
            <div>
                <div>
                    <input type="text" name="data.options.sheetLink" value="{{data.options.sheetLink}}" placeholder="http:// or https://" data-dtype="String" />
                </div>
                <div class="form-group {{data.traits.languages.cssClass}}">
                    <label for="data.traits.languages">{{localize "PF1.Languages"}}</label>
                    <ul class="traits-list">
                        {{#each data.traits.languages.selected as |v k|}}
                        <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                    </ul>
                    <a class="trait-selector" data-options="languages"><i class="fas fa-edit"></i></a>
                </div>
            </div>
        </div>

    </section>

    <script src="https://apis.google.com/js/api.js">
    </script>


</form>