{{!-- Attack Filters --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="attacks"}}

  <ul class="filter-list flexrow" data-filter="attacks">
    {{#each sections as |section sid|}}
      <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

{{!-- Attacks Header --}}
<div class="combat-attacks">
  <section class="attacks-body">
    <div class="inventory-group flexcol">
      <ol class="inventory-list">
        <li class="inventory-header flexrow attacks-weapon">
          <h3 class="item-name flexrow">Attacks</h3>

          <div class="item-detail item-attacks">
            <label>{{localize "PF1.Attacks"}}</label>
          </div>

          <div class="item-detail item-damage">
              <label>{{localize "PF1.Damage"}}</label>
          </div>

          <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>

          <div class="item-controls">
            <a class="item-control item-create" title="Create Item" data-type="attack" data-attack-type="weapon">
              <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
            </a>
          </div>
        </li>
      </ol>
    </div>
    {{#each sections as |section sid|}}
    {{#unless section._hidden}}
    <div class="inventory-group flexcol">
      <ol class="inventory-list">
        <ol class="item-list">
          {{#each section.items as |item iid|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow rollable">
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <h4>
                {{item.name~}}
              </h4>
            </div>

            {{#if section.showTypes}}
            <div class="item-detail item-type">
              <span>{{lookup ../../config.attackTypes item.data.attackType}}</span>
            </div>
            {{/if}}

            <div class="item-detail item-attacks tooltip">
              <label>{{itemAttacks item ../../rollData max=3}}</label>
              <span class="tooltipcontent">
                {{#each item.document.attackArray~}}
                  {{numberFormat this decimals=0 sign=true}}{{#unless @last}}/{{/unless}}
                {{~/each}}<br/>
                <br/>
                {{localize "PF1.Details"}}:<br/>
                {{#each item.document.attackSources}}
                  {{this.label}} : {{this.value}}<br/>
                {{/each}}
              </span>
            </div>

            <div class="item-detail item-damage tooltip">
              {{#if item.hasDamage}}
              <label>{{ellipsis (itemDamage item ../../rollData) 8 -4 2}}</label>
              <span class="tooltipcontent">
                {{itemDamage item ../../rollData}}<br/>
                <br/>
                {{localize "PF1.Details"}}:<br/>
                {{#each item.data.damage.parts as |pt ix|}}
                  {{pt.[0]}}{{#if pt.[1]}} [{{pt.[1]}}]{{/if}}<br/>
                {{/each}}
                {{#if item.data.damage.nonCritParts}}
                  {{#each item.data.damage.nonCritParts as |pt|}}
                    {{pt.[0]}}{{#if pt.[1]}} [{{pt.[1]}}]{{/if}}<br/>
                  {{/each}}
                {{/if}}
                {{#if item.data.ability.damage}}
                  {{abilityMod item.data.ability.damage ../../rollData item.data.ability.damageMult}} [{{lookup ../../config.abilities item.data.ability.damage}}]<br/>
                {{/if}}
                {{#if item.data.enh}}
                  {{item.data.enh}} [{{localize "PF1.EnhancementBonus"}}]<br/>
                {{/if}}
                {{#if item.data.damage.critParts}}
                  <br/>+ {{localize "PF1.CritDamageBonusFormula"}}<br/>
                {{/if}}
                {{#if item.data.conditionals}}
                  <br/>+ {{localize "PF1.Conditionals"}}<br/>
                {{/if}}
              </span>
              {{/if}}
            </div>

            <div class="item-detail item-actions">
              <div class="item-attack tooltip">
                {{#if item.hasAction}}
                <span class="tooltipcontent">
                  {{localize "PF1.PerformAttack"}}
                </span>
                <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                {{/if}}
              </div>
            </div>

            {{#if ../../owner}}
            <div class="item-controls">
              <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
              <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
          </li>
          {{/each}}
        </ol>
      </ol>
    </div>
    {{/unless}}
    {{/each}}
  </section>
</div>
