{{!-- Saving Throws --}}
<ul class="skills-list">
    {{#each data.attributes.savingThrows as |savingThrow id|}}
    <li class="skill flexrow" data-ability="{{id}}">
        <div class="skill-name tooltip">
            <span class="tooltipcontent">
                @attributes.savingThrows.{{id}}.total : {{savingThrow.total}}
            
                {{#if savingThrow.sourceDetails.length}}
                <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                {{#each savingThrow.sourceDetails as |src|}}
                {{src.name}}: {{src.value}}<br/>
                {{/each}}
                {{/if}}
            </span>
            <div class="saving-throw" data-savingthrow="{{id}}">
                <div class="rollable"><img src="icons/dice/d20black.svg"></div>
            </div>
            <h4>{{savingThrow.label}}</h4>
        </div>
        <input type="text" disabled class="skill-mod" value="{{numberFormat savingThrow.total decimals=0 sign=true}}">
    </li>
    {{/each}}
</ul>
<!--
{{#each data.attributes.savingThrows as |savingThrow id|}}
<th class="saving-throw tooltip" data-savingthrow="{{id}}" colspan="2">
    <div class="tooltipcontent">
        @attributes.savingThrows.{{id}}.total : {{savingThrow.total}} {{#if savingThrow.sourceDetails.length}}
        <br/><br/>{{localize "PF1.FromSources"}}:<br/> {{#each savingThrow.sourceDetails as |src|}} {{src.name}}: {{src.value}}<br/> {{/each}} {{/if}}
    </div>

    <a class="rollable"><i class="fas fa-dice"></i><span>{{savingThrow.label}}</span></a>
</th>
{{/each}}
-->