{{!-- Skills --}}
<ul class="skills-list sub-scroll scroll-skillset" data-background="{{isBackgroundSkills}}">
    {{#each skillset as |skill s|}}
    <li class="skill flexrow" data-skill="{{s}}">
        <div class="skill-name tooltip {{#if skill.untrained}}untrained{{/if}}">
            <span class="tooltipcontent">
        @skills.{{s}}.mod : {{skill.mod}}<br>
        @skills.{{s}}.rank : {{skill.rank}}<br>

        {{#if skill.sourceDetails.length}}
        <br/><br/>{{localize "PF1.FromSources"}}:<br/>
        {{#each skill.sourceDetails as |src|}}
        {{src.name}}: {{src.value}}<br/>
        {{/each}}
        {{/if}}
      </span>
            <div class="rollable"><img src="icons/dice/d20black.svg"></div>
            {{#if skill.custom}}
            <input type="text" name="data.skills.{{s}}.name" value="{{skill.name}}" placeholder="{{localize " PF1.Name "}}"/> {{else}}
            <h4>{{skill.label}}</h4>
            {{/if}}
        </div>
        <input type="text" disabled class="skill-mod" value="{{numberFormat skill.mod decimals=0 sign=true}}" title="{{localize " PF1.SkillModTooltip "}}">
    </li>
    {{/each}}
</ul>