{{!-- Ability Scores --}}
<ul class="skills-list">
    {{#each data.abilities as |ability id|}}
    <li class="skill flexrow" data-ability="{{id}}">
        <div class="skill-name tooltip">
            <span class="tooltipcontent">
                        @abilities.{{id}}.total : {{ability.total}}<br/>
                        @abilities.{{id}}.value : {{ability.value}}<br/>
                        @abilities.{{id}}.mod : {{ability.mod}}<br/>
                        @abilities.{{id}}.damage : {{ability.damage}}<br/>
                        @abilities.{{id}}.drain : {{ability.drain}}<br/>
                        @abilities.{{id}}.penalty : {{ability.penalty}}<br/>
                        @abilities.{{id}}.base : {{ability.base}}<br/>
                        @abilities.{{id}}.baseMod : {{ability.baseMod}}
                        
                        {{#if ability.sourceDetails.length}}
                        <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                        {{#each ability.sourceDetails as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                        {{/if}}
            </span>
            <div class="ability" data-ability="{{id}}">
                <div class="rollable ability-name"><img src="icons/dice/d20black.svg"></div>
            </div>
            <h4>{{ability.label}}</h4>
        </div>
        <input type="text" disabled class="skill-mod" value="{{numberFormat ability.mod decimals=0 sign=true}}">
    </li>
    {{/each}}
</ul>